/* colors */

:root {
  --title-color: rgb(33, 33, 33);
  --text-color: rgb(117, 117, 117);
  --accent-color: rgb(33, 150, 243);
  --white-color: rgb(255, 255, 255);
  --background-color: rgb(245, 244, 250);
  --logo-color-black: rgb(0, 0, 0);
  --h1-background-color: rgb(47, 48, 58);
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --border-image-color: rgb(238, 238, 238);
}

/* main styles */

body {
  color: var(--text-color);
  background-color: var(--white-color);
  font-family: 'roboto', sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


/* Containers */


.container-main {
  margin-left: auto;
  margin-right: auto;
  width:1200px;
  padding-left: 15px;
  padding-right: 15px; 
}


.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),
  url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Current link */




.mail {
display: inline-block;
height: 12px;
width: 16px;
margin-right: 10px;
fill: currentColor;
}

.phone {
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}


.item-logo {
  padding-bottom: 25px;
  padding-top: 24px;
}

.item +.item {
  margin-left: 50px;
}




.item-header:hover,
.item-header:focus {
  fill: var(--accent-color);
  
}



.navigation .current-link {
  color: var(--accent-color);
}

/* LOGO */

.header-logo,
.footer-logo {
  font-family: 'raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  margin-right: 93px;
}

.header-logo-part,
.footer-logo-part {
  color: var(--accent-color);
  font-family: 'raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}
.header-logo {
  color: var(--logo-color-black);
}
.footer-logo{
  color: var(--white-color);
  margin-right: 0;
}

.footer-logo-part {
  font-family: 'raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
  background: var(--white-color);
  margin: 0;
  position: sticky;
  z-index: 998;
  top: -1px;
}


/* navigation links */

.navigation {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navigation-links {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em; 
  margin-right: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-links.current-link {
position:relative;
}

.navigation-links.current-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom:0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}



.navigation-links:hover,
.navigation-links:focus {
  color: var(--accent-color);
}

/* Contact links */

.contact {
  display: flex;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-links-header {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-links-header:hover, 
.contact-links-footer:hover,
.contact-links-header:focus,
.contact-links-footer:focus {
color: var(--accent-color);

}

            

/*     INDEX.HTML        Maim Page - HERO */

.hero {
  text-align: center;
}

.hero-h1 {
  color: var(--white-color);
  font-family: 'roboto',sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 200px;
}

.hero-h1-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: 'roboto',sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  align-items: center;
  cursor:pointer;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;
  margin-top: 30px;
  }



.features-list {
  margin-right: -30px;
  display: flex;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.features-section {
padding-top: 103px;
}

.features {
  clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    padding-top: 94px;
    padding-bottom: 94px px;
}

.features-item {
flex-basis: 270px;
  margin-right: 30px;
}

.features-icon {
  display: flex;
  height: 120px;
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}



.antenna, .clock, .diagram, .astronaut  {
  width: 70px;
  height: 70px;
}


.features-title {
  color: var(--title-color);
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0;
}

.features-text {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
  margin-bottom: 0;
}

/* We do & team members */

.section-we-do {
  padding-top: 94px;
  padding-bottom: 94px;
}

.we-do-list {
  margin-right: -30px;
  margin-top: 50px;
  margin-bottom: 0;
  display: flex;
  padding: 0;
}

.we-do-image {
  margin-right: 30px;
  position: relative;
}

.we-do-item {
position: absolute;
bottom: 0;
left: 0;
padding-top: 27px;
padding-bottom: 27px;
width: 100%;
height: 70px;
background-color: rgba(47, 48, 58, 0.8);
}

.we-do-text {
margin: 0;
font-size: 14px;
text-align: center;
line-height: 1.14;
font-weight: 700;
color: var(--white-color);
}


.we-do-title,
.team-members,
.clients {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.16;
  margin: 0;
}

.section-team { 
  background-color: var(--background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  display: flex;
  margin-top: 50px;
  margin-right: -30px;
  padding: 0;
  margin-bottom: 0;
}

.team-item {
  margin-right: 30px;
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
  0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-photo {
  display: block;
}

.team-members-list-text {
padding-top: 30px;
padding-bottom: 30px;
padding-left: 32px;
padding-right: 32px;
}

.team-members-list {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--title-color);
  margin:0;
}

.team-members-role {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 0;
}

.links-social {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  width: 206px;
  height: 44px;
  
}

.item-social-link {
  width: 20px;
  height: 20px;
}

.item-social {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: rgb(175, 177, 184, 1);
  transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.item-social:hover,
.item-social:focus {
border-radius: 50%;
background-color: var(--accent-color);
fill: var(--white-color);

}

.section-clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients {
  margin-bottom: 50px;
}

.list-clients {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}



.logo-client {
fill:rgb(175, 177, 184, 1);
display: flex;
border: 1px solid #AFB1B8;
border-radius: 4px;
justify-content: center;
align-items: center;
width: 170px;
height: 92px;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-client {
margin-right: 30px;
}

.logo-client:hover,
.logo-client:focus {
fill: var(--accent-color);
border-color: var(--accent-color);
}

.logo {
width: 106px;
height: 60px;
}




/* Footer - address and contact links */

.footer {
  background-color: var(--h1-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  align-items: baseline;
}

.container-footer-address {
  margin-right: 74px;
}

.address {
  background-color: var(--h1-background-color);
font-style: normal;
}

.address-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
}

.address-contact {
  margin:0;
  margin-top: 9px;
  padding: 0;
}

.address-item {
  padding-left: 15px;
  margin-top: 20px;
  margin-bottom: 9px;
  padding: 0;
}

.social-media-container {
margin-right: 93px;
}


.social-media-title {
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.17;
  margin: 0;
}

.social-media-list {
  display: flex;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
  justify-content: space-between;
}

.social-media-item {
  margin-right: 10px;
}

.social-media-item:last-child {
  margin-right: 0;
}

.social-media-links {
  fill: var(--white-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.instagram, .twitter, .facebook, .linkedin {
  width: 20px;
  height: 20px;
  
}

.social-media-links:hover, 
.social-media-links:focus {
  background-color: var(--accent-color);
}


.follow {
width: 570px;
height: 86px;
display: flex;
align-items: flex-end;
}


.follow-mail {
margin: 0;
text-transform: uppercase;
font-weight: 700;
font-size: 14px;
line-height: 1.14px;
color: var(--white-color);
}

.follow-input {
height: 50px;
width: 358px;
margin-top: 20px;
background-color: transparent;
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
padding: 15px 2px 15px 16px ;
}

.follow input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
}

.follow-btn {
width: 200px;
height: 50px;
padding: 10px 28px 10px 29px;
background-color: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: transparent;
font-weight: 700;
font-size: 16px;
color: var(--white-color);
cursor: pointer;
display: flex;
align-items: center;
letter-spacing: 0.06em;

}

.follow-bth:hover {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send {
width: 24px;
height: 24px;
margin-left: 10px;
}

 /* PORTFOLIO */



.contact-item {
  margin-top: 9px;
}

.contact-links-footer {
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-vector {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 40px;
  cursor: pointer;
}

.modal.vector:hover {
  border-color: transparent;
}

/* PORTFOLIO */

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects-filter {
  display: flex;
  justify-content:center;
  margin-bottom: 50px;
  margin-top: 0;
  padding: 0;
}


.projects-filter-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: var(--title-color);
  background-color: var(--background-color);
  cursor:pointer;
  border: 0;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom:5px ;
  padding-right:22px ;
  padding-left: 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item + .projects-item {
  margin-left: 8px;
}


.projects-filter-button:hover,
.projects-filter-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.projects-list-photo {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
  margin-bottom: 0;
  justify-content: space-between;
  padding: 0;
}

.project-item-photo {
  flex-basis: 370px;
  margin-right: 30px;
  margin-top: 30px;
}

.project-item-link {
  display: block;
}

.product-thumb{
  position: relative;
  overflow: hidden;
}



.overlay-text {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1.55;
  text-align: left;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 62px 23px; 
  margin: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.project-item-link:hover .overlay-text,
.project-item-link:focus .overlay-text {
transform: translateY(0);
}


.project-item-photo:hover,
.project-item-photo:focus  {
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
}

.project-image {
  display: block;
}


.container-item {
  display: block;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}


.project-item-photo:nth-child(3n+1) {
  margin-right: 30px;
}


/* our works images */



.project-img-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.project-img-text {
  font-size: 16px;
  line-height: 1.9;
}



.title-project {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin: 0;
}


.text-project {
  font-size: 16px;
  line-height: 1.9;
  margin-top: 4px;
margin-bottom: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 28, 38, 0.252);
  transition: opacity 300ms linear, visibility 300ms linear;
  z-index: 999;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-360deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  border-radius: 4px;
  transition: transform 300ms linear;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close {
width: 18px;
height: 18px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

    /*FORM*/




.title-modal {
  color: rgba(33, 33, 33, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin: 0;
}

.modal-label {
  position: relative;
  display: block;
  margin-top: 12px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-field {
  position: relative;
  display: block;
  flex-direction: column;
  margin-top: 4px;
  height: 40px;
}



.form-field-comment {
  margin-right: 0;
  width: 448px;
  height: 138px;
}


.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  margin: 0;
  padding: 12px 2px 12px 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-btn {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 55px 10px 56px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  background-color: #188CE8;
}

.form-field-comment textarea::placeholder {
  color:rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14px;
  font-weight: 400;
}


.textarea  {
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.checkbox-item {
color: var(--accent-color);
text-decoration: underline;
font-weight: 400;
font-size: 14px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.checkbox-icon {
  width: 16px;
  height: 15px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 7px;
  
}

.checkbox:checked + .checkbox-icon {
  background-image: url(../img/icons.svg/check.svg);
  border-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
}

.field {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
}



.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover+svg {
fill: var(--accent-color);
}

.modal-input:hover {
border-color: var(--accent-color);
}

.modal-input:focus + .input-icon {
fill: var(--accent-color);
}

.modal-input:focus {
outline: 0 solid var(--accent-color);
}

.textarea:focus {
outline: 0 solid var(--accent-color);
}


.textarea:hover {
border-color: var(--accent-color);
}